// font styles
$font-main: 'Marck Script';

// text color
$txt-cl-wite: #ffffff;
// bgcolor
$bg-cl-main: #e9ebea;
$bg-cl-accent: #c08125;
$bg-cl-darc: #272b2f;
$bg-cl-secondari: #bbb7af;
$bg-cl-secondari-2: #bdb5a9;
