.header {
  background-color: $bg-cl-darc;
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  &__logo {
  }
  &__site-nav {
    color: white;
  }
  &__contacts {
    color: white;
  }
}
.logo {
  &__image {
  }
}
.site-nav {
  display: flex;
  &__item {
  }
}
.contacts {
  display: flex;
  &__item {
  }
  &__link {
  }
}
