.header {
  background-color: $bg-cl-darc;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: $txt-cl-wite;
  }
  &__logo {
  }
  &__site-nav {
  }
  &__contacts {
  }
}
.logo {
  &:hover,
  :focus {
    color: $bg-cl-accent;
  }
  &__image {
  }
  &__text {
    font-size: 26px;
  }
}
.site-nav {
  @media screen and (max-width: 550px) {
    display: none;
  }
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-right: 20px;
    font-size: 20px;
    &:last-child {
      margin-right: 0;
    }
    &:hover,
    :focus {
      color: $bg-cl-accent;
    }
  }
}
.contacts {
  @media screen and (min-width: 769px) {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and (min-width: 769px) {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
    &:hover,
    :focus {
      color: $bg-cl-accent;
    }
  }
  &__link {
  }
}
