.price {
  &__container {
  }
  &__title {
    text-align: center;
  }
  &__table {
  }
}
.price-table {
  display: flex;
  justify-content: space-around;
  &__body {
  }

  &__item {
  }
  &__title {
    text-align: right;
    font-size: 30px;
  }
  &__text {
  }
  &__name {
    font-size: 24px;
  }
  &__value {
    font-size: 24px;
    text-align: right;
  }
}
